.story{

  &__pictures{
    background-color: $col-primary;
    grid-column: full-start / col-end 4;
  }

  &__content{
    background-color: $col-grey-light-1;
    grid-column: col-start 5 / full-end;
  }
}
